<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Login</h1>
    <hr>
    <div class="links">
        <a href="/createUser"><button>Create an account</button></a> <b>|</b> 
        <a href="/"><button>Home</button></a> <b>|</b> 
        <a href="/message"><button>post a message</button></a> <b>|</b> 
    </div>
    <hr>
    <div class="container">
      <form class="forms" action="/login" method="POST">
        username: <input type="text" name="username"><br>
        password: <input type="text" name="password"><br>
        <button>Click to log in</button>
      </form>
    </div>
</body>
</html>