<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="greeting">
        <h1>HEY</h1>
        <h2>welcome to the site</h2>
    </div>
    <h3>the post a message site</h3>
    <h4>make an account, login, post a message</h4>
    <hr>
    <div class="links">
        <a href="/createUser"><button>Create an account</button></a> <b>|</b> 
        <a href="/login"><button>Login</button></a> <b>|</b>
        <a href="/"><button>Home</button></a> <b>|</b> 
    </div>
    <hr>

    <h2>make a message</h2>
    <div class="container">
        <form class="forms" action="/message" method="POST">
            message: <br><textarea name="content" id="" cols="40" rows="10" placeholder="Enter a message..."></textarea><br>
            <button>submit</button>
        </form>
    </div>

</body>
</html>